<ion-list>
<ion-list-header>
      Course Code during current term
    </ion-list-header>

<!-- Default Checkbox -->
<ion-item>
<ion-label>CAP918</ion-label>
<ion-checkbox></ion-checkbox>
</ion-item>

<!-- Disabled Checkbox -->
<ion-item>
<ion-label>CAP919</ion-label>
<ion-checkbox slot="start" disabled="true"></ion-checkbox>
</ion-item>

<!-- Checked Checkbox -->
<ion-item>
<ion-label>CAP916</ion-label>
<ion-checkbox checked="true"></ion-checkbox>
</ion-item>

<!-- Checkbox Colors -->
<ion-item>
<ion-label>CAP915</ion-label>
<ion-checkbox slot="start" color="primary"></ion-checkbox>
</ion-item>

<ion-item>
<ion-label>CAP920</ion-label>
<ion-checkbox color="secondary"></ion-checkbox>
</ion-item>

<ion-item>
<ion-label>CAP921</ion-label>
<ion-checkbox slot="start" color="danger"></ion-checkbox>
</ion-item>

<ion-item>
<ion-label>CAP922</ion-label>
<ion-checkbox color="light"></ion-checkbox>
</ion-item>

<ion-item>
<ion-label>CAP923</ion-label>
<ion-checkbox slot="start" color="dark"></ion-checkbox>
</ion-item>
</ion-list>
