
<ion-content>
<ion-grid text-center style="border:solid">
  <ion-row>
    <ion-col style="border:solid" width-25><ion-button>Default</ion-button></ion-col>
    <ion-col style="border:solid" width-25 offset-20>
	<ion-button>
	Forward
    <ion-icon name="arrow-dropleft-circle"></ion-icon>
</ion-button>
</ion-col>
<ion-col style="border:solid" width-50 offset-50>Three</ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="border:solid" width-50 offset-50>Three</ion-col>
	<ion-radio-group allow-empty-selection="true">
    
    <ion-item>
      <ion-label>CAP918</ion-label>
      <ion-radio color="danger" slot="start" value="ionic"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>CAP919</ion-label>
      <ion-radio color="warning" slot="end" value="node"></ion-radio>
    </ion-item>
</ion-radio-group>
  </ion-row>

  <ion-row>
    <ion-col style="border:solid" width-25>Train</ion-col>
    <ion-col style="border:solid" width-75 offset-20>With</ion-col>

  </ion-row>
</ion-grid>
</ion-content>
