<ion-list>
  <ion-radio-group allow-empty-selection="true">
    <ion-list-header>
      Lecture with Course Code during 2-3
    </ion-list-header>

	
	
	
    <ion-item>
      <ion-label>CAP918</ion-label>
      <ion-radio color="danger" slot="start" value="ionic"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>CAP919</ion-label>
      <ion-radio color="warning" slot="end" value="node"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>CAP915</ion-label>
      <ion-radio color="teritory"checked="true" value="bootstrap"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>CAP916</ion-label>
      <ion-radio disabled="true" value="angular"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>CAP914</ion-label>
      <ion-radio value="JS"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>